.pageContainer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pageContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 2.5rem 2.5rem 2.5rem;
    width: 100%;
    box-sizing: border-box;
}