body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    display: flex;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 30px;  
}