.cardPanel {
    background-color: #C4D1E7;
    width: 750px;
    min-width: 450px;
    border-radius: 20px;
    height: 250px;
    display: flex;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px
}